<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h2>Reset Password</h2>
    <form id="resetPasswordForm">
        <label for="newPassword">New Password:</label><br>
        <input type="password" id="newPassword" name="newPassword" required><br>
        <label for="confirmPassword">Confirm Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
        <button type="submit">Reset Password</button>
    </form>
    <p id="resetPasswordMessage"></p>

    <script>
        document.getElementById('resetPasswordForm').addEventListener('submit', async (event) => {
            event.preventDefault();
            const newPassword = document.getElementById('newPassword').value;
            const confirmPassword = document.getElementById('confirmPassword').value;

            // lógica para verificar que las contraseñas coincidan
            if (newPassword !== confirmPassword) {
                document.getElementById('resetPasswordMessage').innerText = 'Las contraseñas no coinciden';
                return;
            }

            // Si las contraseñas coinciden, puedes enviar la solicitud para restablecer la contraseña
            try {
                // Obtener el token de la URL
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                const token = urlParams.get('token');

                const response = await fetch(`/recovery/reset-password?token=${token}`, {
                    method: 'POST',
                    headers: {
                          'Content-Type': 'application/json'
                     },
                    body: JSON.stringify({ newPassword }) 
                });
                const data = await response.json();

                if (response.ok) {
                    document.getElementById('resetPasswordMessage').innerText = data.message;
                } else {
                    document.getElementById('resetPasswordMessage').innerText = data.error;
                }
            } catch (error) {
                console.error('Error al enviar la solicitud:', error);
            }
        });
    </script>
</body>
</html>
